/*****************************/
/***** Join Request Page *****/
/*****************************/
.signup-info.rtl {
    direction: rtl;
}

.signup-info .signup-info-main div {
    padding: 2px 10px;
}

.signup-actions button.approve-btn,
.signup-actions button.approve-btn:active {
    background-color: #009688;
    color: white;
}

.signup-actions button.md-raised.approve-btn:hover {
    background-color: #00796B;
}

.signup-info .signup-info-main .title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;

}

.user-info .user-info-main .title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;

}

.user-info .user-info-main div {
    padding: 2px 10px;
}

.list-signups {
    overflow-x: hidden;
}

.admin-list,
.dialog-list {
    overflow: hidden;
}

.admin-list md-content {
    height: 78vh;
    overflow-y: auto;
}

.dialog-list md-content {
    overflow-y: auto;
    max-height: 40vh;
}


.list-search-input {
    margin: 0;
}

.list-search-input input {
    width: initial;
}