#main-view {
    height: calc(100vh - 64px);
}

.white {
    color: white !important;
}

md-toolbar.rounded-toolbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

md-list-item.selected {
    background-color: #e0e0e0;
}

md-list {
    overflow-x: hidden;
}

.list-border {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dashboard-height {
    height: 85vh;
}

button.md-button.approve-btn,
button.md-button.approve-btn:active,
button.md-button.md-raised.approve-btn,
button.md-button.md-raised.approve-btn:active{
    background-color: #009688;
    color: white;
}

button.md-button.approve-btn:hover,
button.md-button.md-raised.approve-btn:hover {
    background-color: #00796B;
}

/*************************/
/***** Admin Actions *****/
/*************************/
.admin-actions-container {
    position: absolute;
    top: 0;
    right: 10px;
    width: 150px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.admin-actions-container  button {
    color: white;
}

/*************************/
/***** Notifications *****/
/*************************/
.notification-container {
    position: fixed;
    padding: 2px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    overflow: hidden
}

.notification {
    width: 250px;
    margin: 5px 0;
    background: white;
}

.notification .notification-header {
    padding: 0 0 0 5px;
    font-size: 12px;
}

/***********************/
/***** RTL Classes *****/
/***********************/

md-option {
    direction: rtl;
}

.rtl {
    direction: rtl;
}

/* INPUT */
md-input-container.rtl label {
    right: 0;
    left: auto;
    -webkit-transform-origin: right top !important;
    transform-origin: right top !important;
    unicode-bidi: embed;
    padding-right: 3px;
    padding-left: 0;
}

md-input-container.rtl {
    direction: rtl;
}

md-input-container.md-icon-float.rtl {
    transition: margin-top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)
}

md-input-container.md-has-icon.rtl {
    padding-right: 36px;
    padding-left: 0;
}

md-input-container.md-has-icon.rtl > label {
    left: auto;
    right: auto;
}

md-input-container.md-icon-float.rtl > md-icon {
    right: 2px;
    left: auto;
}

md-input-container.rtl > md-select {
    direction: rtl;
}

/* CHECKBOX */
md-checkbox.rtl {
    direction: rtl;
}

md-checkbox.rtl .md-container {
    left: auto;
    right: 0;
}

md-checkbox.rtl .md-label {
    margin-left: 0;
    margin-right: 30px;
}

md-icon.rtl {
    transform: scale(-1);
}

md-toast {
    direction: rtl;
    text-align: center;
}

md-list-item.rtl .md-list-item-text {
    direction: rtl;
    text-align: right;
}

md-list-item.rtl .md-secondary-container,
md-list-item.rtl .md-secondary {
    right: auto;
    left: 16px;
}

md-toolbar.rtl {
    direction: rtl;
}