:root {
    --dot-size: 30px;
    --dot-meargin: 20px;
    --nav-buttom: 30px;
    --dot-border: 3px;
    --background-color: #C3DCF0;
}

.org-ads{
    padding: 48px;
}

.text-large{
    text-size: 450%;
}

.team-avatar{
    border-radius: 150px;
    width: 150px;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    background-size: 280px;
    background-position: right;
}

.home-background{
    background-color: var(--background-color);
}
.white-background{
    background-color: white;
}

.sta{
    background-color: white;
    padding: 8px;
    margin: 8px;
}

.grid-list {

}

.grid-tile {
    transition: all 400ms ease-out 50ms;
    margin: 8px;
}

.image-container {
    display: inline-block;
    position: relative;
}

.image-progress{
    right: 50px;
    top: 50px;
}

.delete-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.slider {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(/assets/img/home/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(/assets/img/home/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(/assets/img/home/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(/assets/img/home/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(/assets/img/home/paddle_next_fff.png);
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: var(--nav-buttom);
    right: 0;
    height: 48px;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
    padding-left: 0px;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 10px var(--dot-meargin);
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--dot-size);
    height: var(--dot-size);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: var(--dot-border) solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}
