<md-content layout-padding flex-gt-xs="30" flex-offset-gt-xs="35">
    <div layout="column" layout-align="center center">
        <h1>דף כניסה</h1>
    </div>

    <form name="LoginForm" ng-submit="login()" layout="column" novalidate id="loginToastsAnchor">
        <md-input-container class="md-icon-float md-block rtl">
            <label>אימייל</label>
            <input type="text" name="email" ng-model="email" ng-pattern="regexEmail" required />
            <md-icon class="material-icons">email</md-icon>
            <div ng-messages="LoginForm.email.$error">
                <div ng-message="required">
                    שדה חובה
                </div>
                <div ng-message="pattern">
                    אימייל שגוי
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block rtl">
            <label>סיסמה</label>
            <input type="password" name="password" ng-model="password" required />
            <md-icon class="material-icons">lock_outline</md-icon>
            <div ng-messages="LoginForm.password.$error">
                <div ng-message="required">
                    שדה חובה
                </div>
            </div>
        </md-input-container>
        <div layout="row">
            <div>
                <md-button type="submit" class="md-accent md-raised white">כניסה</md-button>
            </div>
            <div>
                <md-button ng-click="resetPassword($event)" class="md-warn">שכחתי סיסמה</md-button>
            </div>
        </div>
    </form>
    <br/>
    <!-- OAuth Buttons -->
    <div layout="column" layout-align="center center">
        <a href="javascript:void(0)" ng-click="loginGoogle()">
            <img src="/assets/img/auth/btn_google_normal.png" height="50px">
        </a>
        <a href="javascript:void(0)" ng-click="loginFacebook()">
            <img src="/assets/img/auth/btn_facebook_medium.png" height="44px">
        </a>
    </div>
</md-content>
