<md-content flex-gt-sm="40" flex-offset-gt-sm="30" layout-padding>
    <div layout="column" layout-align="center center">
        <h1>השלם תהליך הרשמה</h1>
    </div>
    <form class="signup-form" name="OAuthSignupForm" ng-submit="submit()" layout="column" novalidate>
        <!-- Phone Number-->
        <md-input-container class="md-icon-float md-block rtl">
            <label>מס' טלפון</label>
            <input type="text" ng-pattern="regexPhone" name="phone" ng-model="info.phone" minlength="9" maxlength="10"
                   required/>
            <md-icon class="material-icons">phone</md-icon>
            <div ng-messages="OAuthSignupForm.phone.$error">
                <div ng-message="required">
                    שדה חובה
                </div>
                <div ng-message="minlength">
                    דרושים לפחות 9 ספרות
                </div>
                <div ng-message="pattern">
                    מספר אינו חוקי
                </div>
            </div>
        </md-input-container>
        <!-- Volunteer Area -->
        <div class="volunteer-area">
            <fieldset dir="rtl" class="required">
                <legend>אזור בו אתה יכול להתנדב - <b>שדה חובה</b></legend>
                <div class="fieldset-subheader">ניתן לבחור כמה אזורים</div>
                <div ng-repeat="area in volunteer_areas">
                    <md-checkbox class="rtl" ng-model="area.checked" name="volunteer_areas" ng-change="validateArea()">
                        {{ area.label }}
                    </md-checkbox>
                    <md-input-container class="rtl" ng-show="$last">
                        <input ng-show="$last" type="text" name="other_area" ng-model="area.input"
                               aria-label="area other input" ng-required="$last && area.checked"/>
                        <div ng-messages="OAuthSignupForm.other_area.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </fieldset>
        </div>
        <!-- Preferred Day -->
        <div class="preferred-day">
            <fieldset dir="rtl">
                <legend>אם יש לך יום קבוע בשבוע שהיית מעדיף - אנא ציין:</legend>
                <div class="fieldset-subheader">בוקר - 9:00 עד 14:00 אחה"צ - 16:00 עד 21:00</div>
                <div ng-repeat="day in preferred_day">
                    <md-checkbox class="rtl" ng-model="day.checked" name="preferred_day">
                        {{ day.label }}
                    </md-checkbox>
                </div>
            </fieldset>
        </div>
        <!-- Team Leader -->
        <div class="team-leader">
            <fieldset dir="rtl">
                <legend>האם את/ה רוצה להיות ראש צוות?</legend>
                <div class="fieldset-subheader">לראש הצוות יש שני תפקידים עיקריים: לבקר בבית המיועד לשיפוץ ולהכין
                    תוכנית, ולהיות אחראי על התיאומים מול הצוות שלו.
                </div>
                <div ng-repeat="option in team_leader">
                    <md-checkbox class="rtl" ng-model="option.checked" name="team_leader"
                                 ng-change="forceOneCheckbox(team_leader, $index)">
                        {{ option.label }}
                    </md-checkbox>
                </div>
            </fieldset>
        </div>
        <!-- Remarks and Suggestions -->
        <md-input-container class="rtl md-block">
            <label>הערות או הצעות</label>
            <textarea ng-model="info.remarks" maxlength="150" rows="5" ng-focus="clearEmptyTextArea()"></textarea>
        </md-input-container>
        <!-- Extra-->
        <div class="extra">
            <div class="header">
                *** האם יש תחום טכני ספציפי שאתה טוב/מנוסה בו?
            </div>
            <div class="subheader">
                לדוגמא: בנייה בעץ, קרמיקה, חשמל, מנעולים, תריסים, צבע, עיצוב פנים וכו' כל מה שיכול לעזור...
            </div>
        </div>
        <md-input-container class="md-block rtl">
            <input type="text" name="extra" ng-model="info.extra" aria-label="extra info"/>
        </md-input-container>
        <div>
            <md-button type="submit" class="md-accent md-raised white">הירשם</md-button>
        </div>
    </form>
</md-content>
